# Create a .streamlit/ folder in the root directory of your project.
# Within that folder, create a file named secrets.toml.
# Copy these variables into the secrets.toml file and update the values accordingly.

# Example secrets - replace these with your actual secrets in secrets.toml

DB_DEV_URL = "nocodb_aidev_table_url"
DB_LEAD_URL = "nocodb_techlead_table_url"
GITLAB_URL = "gitlab_instance_url"
CORPUS_URL = "corpus_backend_url"

DB_API = "nocodb_api_token"
GITLAB_API = "gitlab_access_token"
CORPUS_API = "corpus_app_api_token"