DB_DEV_URL = "nocodb_aidev_table_url"
DB_LEAD_URL = "nocodb_techlead_table_ur"
GITLAB_URL = "gitlab_instance_url"
CORPUS_URL = "corpus_backend_url"

DB_API = "nocodb_api_token"
GITLAB_API = "gitlab_access_token"
CORPUS_API = "corpus_app_api_token"